source/tabela.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ComparacaoIdade">
       <xs:complexType>
            <xs:sequence>
                <xs:element name="Idade" maxOccurs="unbounded"/>
            </xs:sequence>
       </xs:complexType> 
    </xs:element>
    <xs:complexType name="Idade">
        <xs:sequence>
             <xs:element name="gato" type="xs:string"/>
            <xs:element name="humano" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>